body {
    margin: 0;
    width: 100%;
    box-sizing: border-box;
    figure.SlidingPuzzleFigure {
        width: 70%;
        margin: 0;
        padding: 50px;
        ul.SlidingPuzzle {
            padding: 3%;
            box-sizing: border-box;
            list-style: none;
            background: #000;
            border-radius: 10px;
            display: grid;
            grid-template-columns: 1fr 1fr 1fr;
            grid-template-rows: 1fr 1fr 1fr;
            width: 100%;
            margin: 0;
            position: relative;
            margin-bottom: 5%;
            &::after {
                content: "";
                display: block;
                padding-bottom: 100%;
            }
            li.Tile {
                box-sizing: border-box;
                background: #fff;
                display: flex;
                justify-content: center;
                align-items: center;
                font-size: 10vw;
                font-family: sans-serif;
                border-top: 5px solid #ccc;
                border-left: 5px solid #ccc;
                border-right: 5px solid #787878;
                border-bottom: 5px solid #787878;
                margin: 0;
                &:hover {
                    cursor: pointer;
                }
                &.Tile1 {
                    grid-area: 1 / 1 / 2 / 2;
                }
                &.Tile2 {
                    grid-area: 1 / 2 / 2 / 3;
                }
                &.Tile3 {
                    grid-area: 1 / 3 / 2 / 4;
                }
                &.Tile4 {
                    grid-area: 2 / 1 / 3 / 2;
                }
                &.Tile5 {
                    grid-area: 2 / 2 / 3 / 3;
                }
                &.Tile6 {
                    grid-area: 2 / 3 / 3 / 4;
                }
                &.Tile7 {
                    grid-area: 3 / 1 / 4 / 2;
                }
                &.Tile8 {
                    grid-area: 3 / 2 / 4 / 3;
                }
            }
        }
        figcaption {
            font-size: 5vw;
            color: #000;
            font-family: sans-serif;
            font-style: italic;
            margin-left: 7%;
        }
    }
}

@media only screen and (min-width: 720px) {
    body {
        figure.SlidingPuzzleFigure {
            ul.SlidingPuzzle {
                width: 70%;
                margin-bottom: 3%;
                li.Tile {
                    font-size: 8vw;
                }
            }
            figcaption {
                font-size: 3.5vw;
                margin-left: 5%;
            }
        }
    }
}

@media only screen and (min-width: 1024px) {
    body {
        figure.SlidingPuzzleFigure {
            ul.SlidingPuzzle {
                width: 40%;
                margin-bottom: 1.5%;
                li.Tile {
                    font-size: 4vw;
                }
            }
            figcaption {
                font-size: 2vw;
                margin-left: 3%;
            }
        }
    }
}